.ant-layout {
  background-color: unset;
}
.ant-layout-header {
  background-color: unset;
}

.highlighted-line {
  background-color: rgb(0, 39, 65);
  // line-height: 2;
  border-left: 6px solid rgb(255, 158, 189);
  display: inline-block;
  margin-left: -16px;
  width: calc(100% + 32px);
}
